/* 
created:    20260422 / alphabeit
lastupdate: 20260422 / alphabeit

See also https://www.w3schools.com/CSS/css_howto.asp for ref.
*/

body {
    background-color: #EFF1F4;
    color: #2A2A2B;
    text-align: center;
}
